@model AdvertListViewModel

@{
    List<AdvertViewModel> adverts = Model.Adverts;
}

<div class="container " style="height:70vh">
    <div class="row">

        @if (Model.Adverts.Count == 0)
        {
            <div style="padding-top:150px">
                <h5>İlanınız hiç yoktur.....</h5>

            </div>
        }
        else
        {
            <div class="container-fluid mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="display-6">İlan Listem</h1>
                    <div class="d-flex flex-row align-items-end gap-5">
                        <div>
                            <form asp-area="" asp-controller="Advert" asp-action="Index"
                                  class="mb-3 form-check" id="form-show-all">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" asp-for="ApprovedStatus" onchange="document.getElementById('form-show-all').submit();">
                                    <label class="form-check-label" for="flexSwitchCheckChecked">@(Model.ApprovedStatus ? "Pasifleri Göster" : "Aktifleri Göster")</label>
                                </div>
                            </form>
                        </div>
                        <div>
                            <a class="btn btn-success"
                           asp-area=""
                           asp-controller="Advert"
                           asp-action="Create"
                           asp-route-id="@User.Identity.Name">İlan Ekle</a>
                        </div>
                    </div>
                </div>
                <hr />
                <table id="myDataTable" class="table table-bordered table-sm">
                    <thead class="text-bg-success">
                        <tr>
                            <th width="80">Id</th>
                            <th>Ad Soyad</th>
                            <th> İlan Açıklaması</th>
                            <th> Fiyat</th>
                            <th>Onaylı?</th>
                            <th width="240">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var advert in adverts)
                        {
                            <tr>
                                <td class="align-middle">@advert.Id</td>
                                <td class="align-middle">@advert.FirstName @advert.LastName</td>
                                <td class="align-middle">@advert.Description</td>
                                <td class="align-middle">@advert.Price</td>
                                <td class="align-middle">
                                    <form asp-area=""
                                  asp-controller="Advert"
                                  asp-action="UpdateIsApproved"
                                  asp-route-id=@advert.Id
                                          class="form-check" id="form-isapproved-@advert.Id">
                                        <div class="form-check form-switch">
                                            <input type="hidden" asp-for="ApprovedStatus">

                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" asp-for="@advert.IsApproved" onchange="document.getElementById('form-isapproved-@advert.Id').submit();">
                                        </div>
                                    </form>
                                </td>
                               
                                <td class="align-middle">
                                    <a class="btn btn-warning btn-sm"
                               asp-area=""
                               asp-controller="Advert"
                               asp-action="Edit"
                               asp-route-id=@advert.Id>Düzenle</a>
                                    <a class="btn btn-outline-danger btn-sm"
                               asp-area=""
                               asp-controller="Advert"
                               asp-action="Delete"
                               asp-route-id=@advert.Id>Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
           
        }
    </div>
</div>
@section Styles{
    @await Html.PartialAsync("_DataTablesStylesPartialView")
        }
@section Scripts{
    @await Html.PartialAsync("_DataTablesScriptsPartialView")
        }