@model TeacherModel

<div class="course-1-item">
    <figure class="thumnail">
        <a><img src="~/images/@Model.ImageUrl" alt="Image" class="img-fluid"></a>
       
        <div class="category">
            @for (int i = 0; i < Model.TeacherBranches.Count; i++)
            {
                <span class="ps-3 text-center text-white">@Model.TeacherBranches[i].BranchName </span>
            }
           
        </div>
    </figure>
    <div class="course-1-content pb-4">
        <h2>@Model.FirstName @Model.LastName</h2>
        <div class="rating text-center mb-3">
            <span class="icon-star2 text-warning"></span>
            <span class="icon-star2 text-warning"></span>
            <span class="icon-star2 text-warning"></span>
            <span class="icon-star2 text-warning"></span>
            <span class="icon-star2 text-warning"></span>
            
        </div>
        <p class="desc mb-4">
           @Model.Graduation
        </p>
        <p><a asp-area="" asp-controller="Home" asp-action="TeacherDetails" asp-route-id="@Model.Id" class="btn btn-primary rounded-0 px-4">İncele</a></p>
    </div>
</div>
