@model TeacherModel

<div class="container pt-4">
    <div class="row">
        <div class="col-3">
            <div class="row">
                    <div class="col-12 pb-5">
                        <img class="w-100" src="/images/@Model.ImageUrl" />
                    </div>
            </div>
        </div>
        <div class="col-9">
            <h2 class=" text-info">@Model.FirstName @Model.LastName</h2>
            @for (int i = 0; i < Model.TeacherBranches.Count; i++)
            {
                <h5 class=" text-dark">Branş: @Model.TeacherBranches[i].BranchName @(i == Model.TeacherBranches.Count - 1 ? "" : " | ")</h5>
            }
            <div class="mt-2">
                <span class="display-6 fs-6 fw-normal text-dark">Değerlendirme: </span>
                @for (int i = 0; i < 5; i++)
                {
                    <span class="icon-star2 text-warning"></span>
                }
                <span class="display-6 fs-6 fw-normal text-dark">/ 4.8</span>
            </div>
            <h5 class="text-dark pt-3">Lisans: @Model.Graduation</h5>
            <p class="mb-0 pt-2 text-dark">Açıklama:</p>
            <p class="text-dark">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
        </div>
        
    </div>
</div>
